<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Post</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>View Post</h1>
        <a role="button" href="/posts">Home</a>
      </div>
      <div>
        <h2><%= post.title %></h2>
        <p><%= post.description %></p>

        <% if (post.creator) { %>
          <p>Posted by: <%= post.creator.uname %></p>
        <% } %>

        <p>Subgroup:
         <a href="/subs/show/<%= post.subgroup %>">
          <%= post.subgroup %>
          </a>
        </p>
        <% if (user) { %>
          <div>
          <form action="/posts/vote/<%= post.id %>" method="post">
           <button type="submit" name="setvoteto" value="1">👍Like</button>
          <button type="submit" name="setvoteto" value="-1">👎dislike</button>
         <button type="submit" name="setvoteto" value="0">Remove Vote</button>
        </form>
        <% } %>
        

        <p>
        Score:
        <%= post.votes.reduce((sum, vote) => sum + vote.value, 0) %>
        </p>
        </div>
      </div>
    </main>
  </body>
</html>
